<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.tiendpp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icono"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icono"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tiendpp">
        <activity android:name=".administrador.creditos.menu.AbonosActivity"></activity>
        <activity android:name=".administrador.creditos.menu.CreditosActivosActivity" />
        <activity android:name=".administrador.creditos.menu.FormularioSolicitudActivity" />
        <activity android:name=".administrador.creditos.menu.SolicitudesCredito" />
        <activity android:name=".administrador.creditos.CreditosActivity" />
        <activity android:name=".administrador.MantenimientoActivity" />
        <activity android:name=".administrador.AdministradorActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>